<html>
    <body>
        <h1>Bienvenue dans {{title}} </h1>
             
            <form>
            <label for="name"> Prénom (3 to 20 characters):</label>
            <input type="text" id="name" name="name" 
            required minlength="3" maxlength="20" size="10">
            <label for="annee"> Annee de naissance:</label>
            <input type="number" id="annee" name="annee" 
            min="1900" max="2022" step="1" value="1990"=>
            </form>


        
    </body>
</html>